<% if(is_home()) { %>
<header class="header index-header">
<% } else { %>
<header class="header">
<% if(config.post_music) { %>
<iframe style="position:fixed;left:50%;transform:translate(-50%, 0);" frameborder="no" border="0" marginwidth="0" marginheight="0" width=280 height=52 src="//music.163.com/outchain/player?type=2&id=574919767&auto=0&height=32"></iframe>
<% } %>

<% } %>
    <div class="read-progress"></div>
    <div class="header-sidebar-menu">&#xe775;</div>
    <!-- post页的toggle banner  -->
    <% if (is_post()) { %>
    <div class="banner">
            <div class="blog-title">
                <a href="<%- url_for() %>" ><%= theme.main_title || config.title%></a>
            </div>
            <div class="post-title">
                <a href="#" class="post-name"><%- page.title %></a>
            </div>
    </div>
    <% } %>
    <% if(is_post()){ %>
      <a class="home-link" href=<%- config.root %>><img width="32px" height="32px" src="/assets/Home.svg"/></a>
    <% } else { %>
      <a class="home-link" href=<%- config.root %>><%= theme.main_title || config.title%></a>
    <% } %>
</header>